<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Our Aotearoa</title>

    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="bundle.js"></script>

  </head>


  <body>
    <header>
      <h1>Welcome to 'Do it Better Dikz'</h1>
      <h2>Helping make 'the' government' <i>our</i> government</h2>
      <div>
        <p>Kia ora {{name}}</p>
      </div>
    </header>

    <div id="content">
      <div class="subm-disp">
        <a href="#">
          <h1>{{title}}</h1>
          <h2>[sentence about bill] Public submissions are now being
            invited on the New Zealand Horticulture Export Authority
            Amendment Bill.</h2>
      </div>
      <div class="linksList">
        {{links}}
    </div>


  </body>

</html>
