<doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Our Aotearoa</title>

  <link rel="stylesheet" href="./style.css">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="bundle.js"></script>

</head>

<header class="heading">
  <img src="./images/OA-logo.png" class="logo" alt="logo">
    <h1 class="helloMsg">Kia ora {{name}}</h1>
</header>

<body>

  <div id="list-view">
    {{#each submissions}}
    <div class="linksList">
      <h3 class="listHeadings"><a href="http://www.parliament.nz{{this.url}}" >{{this.title}}</a></h3>
      {{/each}}
        <div id="submissionInfo">
          {{#each subInfo}}
            <p>{{this.paragraphData}}</p>
          {{/each}}
        </div>
    </div>

  </div>

</body>


</html>
