<doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>salty-escarpment-54629</title>

  <link rel="stylesheet" href="./normalize.css">
  <link rel="stylesheet" href="./skeleton.css">
  <link rel="stylesheet" href="./style.css">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="bundle.js"></script>

</head>


<header class="heading">
  <!-- <h1 class="helloMsg">Kia ora {{name}}</h1> -->
</header>

<nav id="nav">
  <ul>
    <li><a href="http://localhost:5000">Home</li>
    <li><a href="http://www.parliament.nz/resource/en-nz/00CLOOCMakingSubmission1/263c1047d1e4d16913fb0c51b6692ca95631ee12">Submission Writing Guide</a></li>
  <ul>
</nav><br>

<body>

<section id="mainView">
  <br><p class="introParagraph">Check out the latest bills up for submission. Click on a bill to see more info and submit on it.</p>

  <div id="list-view">
    {{#each submissions}}
    <div class="linksList">
      <h3 class="listHeadings"><a href="http://www.parliament.nz{{this.url}}" >{{this.title}}</a></h3>
      {{/each}}
        <div id="submissionInfo">
          {{#each subInfo}}
            <p>{{this.paragraphData}}</p>
          {{/each}}
        </div>
    </div>
  </div>
</section>

</body>
</html>
