<title>salty-escarpment-54629</title>

<link rel="stylesheet" href="./normalize.css">
<link rel="stylesheet" href="./skeleton.css">
<link rel="stylesheet" href="./style.css">
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="bundle.js"></script>

</head>

<header class="heading">
  <img src="./images/Salty Escarpment 54629-logo-1.png" class="logo" alt="logo">
</header>
<div class="thanksMessage">
<h3>Thanks for making your voice heard {{name}}! We at parliament take
  democracy seriously, our good friend John Key will be in touch soon
  to let you know how it's all going with the proposed changes. Cheers!</h3>
</div>
  <img src="./images/jkthumbsup.jpg" class="jkpics" alt="johnKeythumbsup">
  <img src="./images/jk-katy-perry.jpg" class="jkpics" alt="johnKeyandKatyPerry">
